* {
  padding: 0;
  margin: 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  margin: 10% auto;
}

.result {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 70%;
  height: 40px;
  color: white;
  background-color: #858694;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 17px;
  margin: 0 auto;
}

span {
  padding-right: 10px;
}

.digits {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.digit-btn {
  width: 25%;
  padding: 4% 1%;
  font-size: 10px;
}

.amber {
  background-color: #f5913e;
  border-style: inset;
  border-width: 0.1px;
}

.operators {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.press-btn {
  width: 25%;
  padding: 4% 1%;
  font-size: 10px;
}

.btn-o {
  width: 50%;
  padding: 4% 1%;
  font-size: 10px;
}
